################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Domain/bin/Debug
/Domain/obj/Debug
/Domain/obj/Debug
/Domain/obj/Debug/TempPE
/Domain/obj/Debug/CoreCompileInputs.cache
/GoF_CSharp/bin/Debug
/packages
